 
  <div class="content">
 
    <a class="text-info nav-link" [routerLink]="['/ui/commissions/ratetables/territoryrate']">Territory Rates</a>
    <a class="text-info nav-link" [routerLink]="['/ui/commissions/ratetables/financepartnerdeduction']">Finance Partner
      Deductions</a>
    <a class="text-info nav-link" [routerLink]="['/ui/commissions/ratetables/modulededuction']">Module Deductions</a>
    <a class="text-info nav-link" [routerLink]="['/ui/commissions/ratetables/inverterdeduction']">Inverter Deductions</a>
    <a class="text-info nav-link" [routerLink]="['/ui/commissions/ratetables/installationtypededuction']">Installation Type Deductions</a>
    <a class="text-info nav-link" [routerLink]="['/ui/commissions/ratetables/purchasemethoddeduction']">Purchase Method Deductions</a>
    <a class="text-info nav-link" [routerLink]="['/ui/commissions/ratetables/permitdeduction']">Permit Deductions</a>
    <a class="text-info nav-link" [routerLink]="['/ui/commissions/ratetables/ppabonusrate']">PPA Bonus Rates</a>
    <a class="text-info nav-link" [routerLink]="['/ui/commissions/ratetables/teiredoverage']">Teired Overage</a>
  </div>
    