
  <div [hidden]="!showRateIncentive" class="card main-panel w-100">
      <div class="card-body">
        <div class="row">
          <div class="col">
                <table id="tbl" class="table  w-100 tbl">
                  <tbody>
                    <tr>
                      <td>
                        <div class="row">
                          <div class="col-md border-right">
                            <fieldset>
                              <legend>Step 1 : Minimum Commission</legend>
                              <h6>Conditions</h6>
                              <table id="inputbox_table_1" class="table ">
                                <tbody>
                                  <tr>
                                    <td>
                                      <div class="form-group">
                                        <label class="bmd-label-floating ">Operand 1</label>
                                        <input type="text" name="" class="form-control">
                                      </div>
                                    </td>
                                    <td>
                                      <div class="form-group">
                                        <label class="bmd-label-floating ">Operator </label>
                                        <input type="text" name=""  class="form-control" >
                                      </div>
                                    </td>
                                    <td>
                                      <div class="form-group">
                                        <label class="bmd-label-floating">Operand 2</label>
                                        <input type="text" name=""  class="form-control">
                                      </div>
                                    </td>
                                  </tr>
                                </tbody>
                              </table>
                              <button type="button" class="btn p-md-2 input-group-text add_condition_1"> <i class="material-icons">add</i> Add Condition</button>
                              <table>
                                <tr>
                                  <td><div class="form-check">
                                    <label class="form-check-label">
                                      <input class="form-check-input" type="checkbox" value="">

                                      <span class="form-check-sign">
                                        <span class="check"></span>
                                      </span>
                                    </label>
                                  </div></td>
                                  <td> All conditions should meet</td>
                                </tr>
                                <tr>
                                  <td><div class="form-check">
                                    <label class="form-check-label">
                                      <input class="form-check-input" type="checkbox" value="">

                                      <span class="form-check-sign">
                                        <span class="check"></span>
                                      </span>
                                    </label>
                                  </div></td>
                                  <td> One or more conditions should meet</td>
                                </tr>
                                <tr>
                                  <td> <div class="form-check">
                                    <label class="form-check-label">
                                      <input class="form-check-input" type="checkbox" value="">

                                      <span class="form-check-sign">
                                        <span class="check"></span>
                                      </span>
                                    </label>
                                  </div></td>
                                  <td> Advance</td>
                                </tr>
                                <tr>
                                  <td colspan="2">
                                    <div class="form-group">
                                      <label class="bmd-label-floating ">Advance Condition </label>
                                      <input type="text" name=""  class="form-control" disabled >
                                    </div>
                                  </td>
                                </tr>
                              </table>
                            </fieldset>
                          </div>
                          <div class="col-md border-left">
                            <div class="form-group">
                              <label class="bmd-label-floating ">Action</label>
                              <input type="text" name="" class="form-control">
                            </div>
                          </div>
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <div class="row">
                          <div class="col-md border-right">
                            <fieldset>
                              <legend>Step 2 : Minimum Commission</legend>
                              <h6>Conditions</h6>
                              <table id="inputbox_table_2" class="table">
                                <tbody>
                                  <tr>
                                    <td>
                                      <div class="form-group">
                                        <label class="bmd-label-floating ">Operand 1</label>
                                        <input type="text" name="" class="form-control">
                                      </div>
                                    </td>
                                    <td>
                                      <div class="form-group">
                                        <label class="bmd-label-floating ">Operator </label>
                                        <input type="text" name=""  class="form-control" >
                                      </div>
                                    </td>
                                    <td>
                                      <div class="form-group">
                                        <label class="bmd-label-floating">Operand 2</label>
                                        <input type="text" name=""  class="form-control">
                                      </div>
                                    </td>
                                  </tr>
                                </tbody>
                              </table>
                              <button type="button" class="btn p-md-2 input-group-text add_condition_2"> <i class="material-icons">add</i> Add Condition</button>
                              <table>
                                <tr>
                                  <td><div class="form-check">
                                    <label class="form-check-label">
                                      <input class="form-check-input" type="checkbox" value="">

                                      <span class="form-check-sign">
                                        <span class="check"></span>
                                      </span>
                                    </label>
                                  </div></td>
                                  <td> All conditions should meet</td>
                                </tr>
                                <tr>
                                  <td><div class="form-check">
                                    <label class="form-check-label">
                                      <input class="form-check-input" type="checkbox" value="">

                                      <span class="form-check-sign">
                                        <span class="check"></span>
                                      </span>
                                    </label>
                                  </div></td>
                                  <td> One or more conditions should meet</td>
                                </tr>
                                <tr>
                                  <td> <div class="form-check">
                                    <label class="form-check-label">
                                      <input class="form-check-input" type="checkbox" value="">

                                      <span class="form-check-sign">
                                        <span class="check"></span>
                                      </span>
                                    </label>
                                  </div></td>
                                  <td> Advance</td>
                                </tr>
                                <tr>
                                  <td colspan="2">
                                    <div class="form-group">
                                      <label class="bmd-label-floating ">Advance Condition </label>
                                      <input type="text" name=""  class="form-control" disabled >
                                    </div>
                                  </td>
                                </tr>
                              </table>
                            </fieldset>
                          </div>
                          <div class="col-md border-left">
                            <div class="form-group">
                              <label class="bmd-label-floating ">Action</label>
                              <input type="text" name="" class="form-control">
                            </div>
                          </div>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
                <div class="row">
                  <div class="col">
                     <button type="button" class="btn add_another" (click)="addStep()"><i class="material-icons">add</i> Add step </button>
                  </div>
                </div>
                <div class="row">
                  <div class="col text-right">
                    <button type="submit" class="btn">Cancel</button>
                    <button type="submit" class="btn">Save Rule</button>
                  </div>
                </div>
              </div>
        </div>
      </div>
    </div>
